@using RealEase.Domain.Entities
@model Propertie

@{
    ViewData["Title"] = "Create";
}

<h1>Create Propertie</h1>

<h4>Propertie</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create">
            
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> Title</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="titleInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> Image</label>
                </div>
                <div class="col-md-6">
                    <input type= "url" class="form-control" id="imageInput" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> Description</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="descriptionInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> Address</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="addressInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> Price</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="priceInput" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> PropertyType</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="propertyTypeInput" placeholder="Ej. Apartamento" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-2">
                    <label class="form-label"> Status</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" id="statusInput" list="status" placeholder="Ej. Disponible" />
                    <datalist id="status">
                        <option value="Pendiente" />
                        <option value="Disponible" />
                        <option value="Vendido" />
                    </datalist>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="form-label col-md-5"> OwnerId</label>
                </div>
                <div class="col-md-6">
                    <input type="number" step="1" class="form-control" id="ownerIdInput" />
                </div>
            </div>


            

        </form>
    </div>
</div>

<button id="addPropertieButton" class="btn btn-primary">
    Save
</button>
<a href="/Properties" class="btn btn-secondary"> Cancel</a>
    

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addPropertieButton').click(function (e) {
                e.preventDefault();
                var newPropertie = {
                    Title: $('#titleInput').val(),
                    Image: $('#imageInput').val(),
                    Description: $('#descriptionInput').val(),
                    Address: $('#addressInput').val(),
                    Price: $('#priceInput').val(),
                    PropertyType: $('#propertyTypeInput').val(),
                    Status: $('#statusInput').val(),
                    OwnerId: $('#ownerIdInput').val()
                };
                $.ajax({
                    url: 'https://localhost:7012/Propertie/AddPropertie',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newPropertie),
                    success: function (data) {
                        alert('Propertie added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

}
