 @using RealEase.Web.ViewsModels
   @model PropertiesViewModel

@{
    ViewData["Title"] = "Propertie List";


}

<style>
    body {
        background-color: #f5f5dc; 
    }

    .btn-green {
        background-color: #4CAF50;
        color: white;
    }

        .btn-green:hover {
            background-color: #45a049;
        }

    .table-custom th {
        background-color: #4CAF50;
        color: white;
    }

    .text-green {
        color: #4CAF50;
    }
</style>

<h2 class="text-green mb-4">Propiedades Registradas</h2>

<a class="btn btn-green mb-3" id="addPropertieButton">➕ Agregar Propiedad</a>

<div class="card shadow-sm border-0">
    <div class="card-body bg-white rounded-3">
        <h4 class="text-secondary">Listado completo</h4>
        <table class="table table-hover text-center table-bordered table-custom">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Título</th>
                    <th>Imagen</th>
                    <th>Descripción</th>
                    <th>Dirección</th>
                    <th>Precio</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Dueño</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="PropertiesTableBody">
                <tr>
                    <td colspan="10">No se encontraron registros</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@section Scripts
{
    <script>

        $(document).ready(function () {
            loadProperties();

            $('#addPropertieButton').click(function () {
                window.location.href = 'https://localhost:7146/Properties/Create';
            });

            $(document).on('click', '.delete-Propertie', function () {
                var PropertieId = $(this).data('id');
                if (confirm('Are you sure you want to delete this Propertie?')) {
                    $.ajax({
                        url: 'https://localhost:7012/Propertie/DeletePropertie/' + PropertieId,
                        type: 'DELETE',
                        success: function () {
                            alert('Propertie deleted successfully');
                            loadProperties();
                        },
                        error: function (error) {
                            console.log('Error:', error);
                        }
                    });
                }
            });

            $(document).on('click', '.edit-Propertie', function () {
                var PropertieId = $(this).data('id');
                window.location.href = 'https://localhost:7146/Properties/Edit/' + PropertieId;
            });

            $(document).on('click', '.view-Propertie', function () {
                var PropertieId = $(this).data('id');
                window.location.href = 'https://localhost:7146/Properties/Details/' + PropertieId;
            });

        });

        function loadProperties() {
            $.ajax({
                url: 'https://localhost:7012/Propertie/GetProperties',
                type: 'GET',
                success: function (data) {
                    var tableBody = '';
                    if (data.length === 0) {
                        tableBody = '<tr><td colspan="10">No Records found</td></tr>';
                    } else {
                        $.each(data, function (index, Propertie) {
                            tableBody += '<tr>' +
                                '<td>' + Propertie.id + '</td>' +
                                '<td>' + Propertie.title + '</td>' +
                                '<td><img src="' + Propertie.image + '" alt="Property Image" width="100"></td>'+
                                '<td>' + Propertie.description + '</td>' +
                                '<td>' + Propertie.address + '</td>' +
                                '<td>' + Propertie.price + '</td>' +
                                '<td>' + Propertie.propertyType + '</td>' +
                                '<td>' + Propertie.status + '</td>' +
                                '<td>' + Propertie.ownerId +
                                '<td>' +
                                '<a class="btn btn-warning edit-Propertie" data-id="' + Propertie.id + '">Editar</a> ' +
                                '<a class="btn btn-info view-Propertie" data-id="' + Propertie.id + '">Detalles</a>' +
                                '<button class="btn btn-danger delete-Propertie" data-id="' + Propertie.id + '">Eliminar</button>' +
                                '</td>' +
                                '</tr>';
                        });
                    }
                    $('#PropertiesTableBody').html(tableBody);
                     

                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

    </script>

}