@{
    ViewData["Title"] = "Home Page";
}

<div class="home-hero">
    <h1>Bienvenido a <span class="brand-name">RealEase</span></h1>
    <p>Tu plataforma confiable para encontrar, gestionar y alquilar propiedades en República Dominicana.</p>
    <a href="/Properties" class="cta-button">Explora Propiedades</a>
   
</div>

<div class="property-card">
    <img src="https://img.100r.systems/img/f3078eb5c74714cdbdc8029ee46da09c.jpg" alt="Propiedad" class="property-image" />
    <div class="property-info">
        <h2 class="property-title">Apartamento Moderno</h2>
        <p class="property-price">$1,200/mes</p>
        <button class="cta-button">Ver más</button>
    </div>
</div>


