@using RealEase.Domain.Entities
@model Payment

@{
    ViewData["Title"] = "Crear Pago";
}

<h1 class="text-center text-success">Registrar Pago</h1>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-3">
                <div class="card-body">
                    <h4 class="card-title text-secondary">Información del Pago</h4>
                    <form asp-action="Create" id="createPaymentForm">
                        <div class="form-group mb-3">
                            <label class="form-label">Contrato ID</label>
                            <input type="number" step="1" class="form-control" id="contractIdInput" required />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Inquilino ID</label>
                            <input type="number" step="1" class="form-control" id="tenantIdInput" required />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Fecha de Pago</label>
                            <input type="date" class="form-control" id="paymentDateInput" required />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Monto</label>
                            <input type="text" class="form-control" id="amountInput" required />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Método de Pago</label>
                            <input class="form-control" id="paymentMethodInput" list="paymentMethod" placeholder="Ej. Tarjeta De Credito" required />
                            <datalist id="paymentMethod">
                                <option value="Tarjeta De Credito" />
                                <option value="Efectivo" />
                                <option value="Transferencia Bancaria" />
                            </datalist>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Estado</label>
                            <input class="form-control" id="statusInput" list="status" placeholder="Ej. Pendiente" required />
                            <datalist id="status">
                                <option value="Pendiente" />
                                <option value="Disponible" />
                                <option value="Vendido" />
                            </datalist>
                        </div>

                        <div class="d-flex justify-content-between">
                            <button type="submit" id="addPaymentButton" class="btn btn-primary">Guardar</button>
                            <a href="/Payments" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addPaymentButton').click(function (e) {
                e.preventDefault();
                var newPayment = {
                    ContractId: $('#contractIdInput').val(),
                    TenantId: $('#tenantIdInput').val(),
                    PaymentDate: $('#paymentDateInput').val(),
                    Amount: $('#amountInput').val(),
                    PaymentMethod: $('#paymentMethodInput').val(),
                    Status: $('#statusInput').val()
                };
                $.ajax({
                    url: 'https://localhost:7012/Payment/AddPayment',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newPayment),
                    success: function (data) {
                        alert('Payment added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

}
