@using RealEase.Domain.Entities
@model User

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center text-success mb-4">Crear Usuario</h1>
<h4 class="text-center text-secondary">Por favor ingrese los datos del usuario</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create" class="shadow-sm p-4 bg-light rounded-3">

            <div class="form-group row mb-3">
                <label for="firstNameInput" class="col-md-4 col-form-label text-md-right text-primary">Primer Nombre</label>
                <div class="col-md-8">
                    <input class="form-control" id="firstNameInput" placeholder="Ej. Juan" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="lastNameInput" class="col-md-4 col-form-label text-md-right text-primary">Apellido</label>
                <div class="col-md-8">
                    <input class="form-control" id="lastNameInput" placeholder="Ej. Pérez" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="emailInput" class="col-md-4 col-form-label text-md-right text-primary">Correo Electrónico</label>
                <div class="col-md-8">
                    <input class="form-control" id="emailInput" placeholder="ejemplo@dominio.com" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="phoneNumberInput" class="col-md-4 col-form-label text-md-right text-primary">Número de Teléfono</label>
                <div class="col-md-8">
                    <input class="form-control" id="phoneNumberInput" placeholder="Ej. 123-456-7890" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="passwordHashInput" class="col-md-4 col-form-label text-md-right text-primary">Contraseña</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" id="passwordHashInput" placeholder="********" />
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="roleInput" class="col-md-4 col-form-label text-md-right text-primary">Rol</label>
                <div class="col-md-8">
                    <input class="form-control" id="roleInput" list="roles" placeholder="Ej. Administrador" />
                    <datalist id="roles">
                        <option value="Administrador" />
                        <option value="Agente de ventas" />
                        <option value="Dueño" />
                        <option value="Cliente" />
                    </datalist>
                </div>
            </div>

            <div class="form-group row mb-3">
                <label for="isActiveInput" class="col-md-4 col-form-label text-md-right text-primary">¿Está activo?</label>
                <div class="col-md-8">
                    <input type="checkbox" class="form-check-input" id="isActiveInput" />
                </div>
            </div>

            <div class="form-group text-center">
                <button type="submit" id="addUserButton" class="btn btn-success btn-lg">Guardar</button>
                <a href="/Users" class="btn btn-secondary btn-lg">Cancelar</a>
            </div>
        </form>
    </div>
</div>
    

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#addUserButton').click(function (e) {
                e.preventDefault();
                var newUser = {
                    FirstName: $('#firstNameInput').val(),
                    LastName: $('#lastNameInput').val(),
                    Email: $('#emailInput').val(),
                    PhoneNumber: $('#phoneNumberInput').val(),
                    PasswordHash: $('#passwordHashInput').val(),
                    Role: $('#roleInput').val(),
                    IsActive: $('#isActiveInput').prop('checked')
                };
                $.ajax({
                    url: 'https://localhost:7012/User/AddUser',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(newUser),
                    success: function (data) {
                        alert('User added successfully with ID: ' + data.id);
                        window.location.href = 'Index';
                    },
                    error: function (error) {
                        console.log('Error:', error);
                    }
                });
            });
        });
    </script>

}
